.title {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #161616;
    border-bottom: 1px solid #DADADA;
    padding: 0 0 16px 0;
    margin: 40px 0 28px;
    width: 100%;
}

