ul {
    list-style: none;
}


.section {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(360px ,1fr));
    row-gap: 32px;
    column-gap: 40px;
    margin: 0;
}

@media screen and (max-width: 1440px) {
    .section {
        row-gap: 20px;
        column-gap: 20px;
    }
}

@media screen and (max-width: 450px) {
    .section {
        grid-template-columns: repeat(auto-fit, minmax(162px ,1fr));
    }
}       