.card {
    position: relative;
    width: 100%;
    padding: 24px;
    background-color: #FDFDFD;
    margin: 0;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 9;
    max-width: 454px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    right: 50px;
    top: 30px;
    box-shadow: 0px 0px 36px 0px rgba(22, 22, 22, 0.2);
    padding: 16px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 200px;
    width: 100%;
    z-index: 10;
    background-color: #FDFDFD;
}

.text {
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #161616;
    cursor: pointer;

    transition: color .2s ease-in-out;

    &:hover {
        color: #22A0BC;
    }
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card_top {
   width: 100%;
}

.name_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.name {
    color: #22A0BC;
    font-family: "Manrope";
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.company {
    color:  #595959;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.dots {
    background-image: url('../../images/dots.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 4px;
    height: 16px;
    cursor: pointer;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
    transition: color .1s ease-in-out;

    &:hover {
        color: #22A0BC;
        fill: #22A0BC;
    }
}

.city {
    color:  #9C9C9C;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

.avatar {
    background-image: url(../../images/luffy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 112px;
    width: 100%;
    height: 120px;
    border-radius: 8px;  
    margin: 0;
    flex-shrink: 0;
}

.link {
    text-decoration: none;
    color: #161616;
}

@media screen and (max-width: 790px) {
    .card {
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .card {
        height: 242px;
        padding: 16px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name {
        font-size: 18px;
        line-height: 25px;
        max-width: 120px;
    }

    .test {
        max-width: 120px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .company {
        
        font-size: 14px;
        line-height: 19px;
        
    }

    .city {
        font-size: 10px;
        line-height: 14px;
    }

    .avatar {
        max-width: 130px;
        height: 120px;
    }

    .box {
        row-gap: 12px;
    }

    .dropdown {
        gap: 10px;
        right: 15px;
        top: 40px;
        padding: 16px 20px;
        max-width: 160px;
    }

    .text {
        font-size: 14px;
        line-height: 19px;
    }
}  