.section {
    background-color: #FDFDFD;
    padding: 16px 0;
    
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}

.logo {
    background-image: url(../../images/at-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 124px;
    height: 24px;
    margin: 0;
}

.box { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.profile_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.like {
    background-image: url(../../images/like.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.bell {
    background-image: url(../../images/bell.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.avatar_mini {
    background-image: url(../../images/luffy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.name {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #595959;
}

@media screen and (max-width: 750px) {
    .like {
        display: none;
    }
    
    .bell {
        display: none;
    }

    .name {
        display: none;
    }
}
